body {
  background:grey;
  text-align: center;
  font-family: 'merriweather', serif;
margin: 0;
}


h2{
  margin: 0;
}
h5{
  margin: 0;
}
.top-container {
  background:black;
  text-align: center;
  position: relative;
  color: white;
}
.top-right{
  position: absolute;
  top: 24px;
  right: 400px;
}
.right-bottom{
  position: absolute;
  top: 50px;
  right: 400px;
}
.middle-container {
  background-color: lightgrey;
  border: auto;
}

.bottom-container {
  background-color: darkgrey;
}
.skill-row{
  text-align: left;
  padding: 100px;
  line-height: 2;
}
.puz{
  width: 20%;
  text-align: center;
  float: left;
  margin-right: 30px;
}

.blb{
  width: 20%;
  text-align: center;
  float: right;
  margin-left: 30px;
}
hr{
  margin: 0;
}
